.main-btn {
  width: 47%;
  color: #fff;
  font-size: clamp(2rem, 2.5rem, 2vw);
  font-weight: 700;
  border-style: none;
  background-color: var(--clr-very-dark-cyan);
  border-radius: .5rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: scale .2s ease-in-out;
}

.main-btn.-reset {
  width: 100%;
  background-color: var(--clr-strong-cyan);
  color: var(--clr-very-dark-cyan);
}

.main-btn:hover {
  scale: 1.08;
}

@media (min-width: 750px) {
  .main-btn {
    width: 30%;
  }
}