.main-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #fff;
  font-size: clamp(2rem, 2.5rem, 2vw);
  font-weight: 700;
  border-style: none;
  background-color: var(--clr-very-dark-cyan);
  border-radius: .5rem;
  padding: 1rem 0;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.main-btn.-reset {
  background-color: var(--clr-strong-cyan);
  color: var(--clr-very-dark-cyan);
}

.main-btn:hover {
  background-color: var(--clr-hover-cyan);
  color: var(--clr-very-dark-cyan);
}