body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  background-color: var(--clr-light-grayish-cyan);
  font-family: 'Space Mono', monospace;
}

button, input, textarea {
  font-family: 'Space Mono', monospace;
}

h2, label {
  font-size: clamp(1.4rem, 1.6rem, 2vw);
  font-weight: 700;
  color: var(--clr-dark-grayish-cyan);
  margin-bottom: 1rem;
}

input[type="number"] {
  background-color: var(--clr-light-cyan);
  border-style: none;
  border-radius: .5rem;
  width: 100%;
  padding: 1rem 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}