body {
  display: flex;
  align-items: center;
  background-color: var(--clr-light-grayish-cyan);
  font-family: 'Space Mono', monospace;
}

button, input, textarea {
  font-family: 'Space Mono', monospace;
}

h2, label {
  font-size: clamp(1.4rem, 1.6rem, 2vw);
  font-weight: 700;
  color: var(--clr-dark-grayish-cyan);
}

a {
  color: var(--clr-very-dark-cyan);
  text-decoration: none;
}

.tip-percentage h2 {
  margin-bottom: 2rem;
}

input[type="number"] {
  box-sizing: border-box;
  background-color: var(--clr-light-cyan);
  border-style: none;
  border-radius: .5rem;
  width: 100%;
  padding: 1rem 3rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
  text-align: right;

  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"], 
input[type="number"]::placeholder {
  font-size: clamp(2rem, 2.5rem, 2vw);
  font-weight: 700;
  color: var(--clr-very-dark-cyan);
}

h3 {
  font-size: clamp(1.2rem, 1.4rem, 2vw);
  font-weight: 700;
  color: var(--clr-dark-grayish-cyan);
}

output {
  font-size: clamp(3rem, 4.5rem, 4vw);
  font-weight: 700;
  color: var(--clr-strong-cyan);
  overflow: hidden;
}

@media (min-width: 750px) {
  body {
    height: 100vh;
  }  
}