.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 5rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 375px;
}

.bill, .tip-percentage, .n-people {
  width: 90%;
}