.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  margin-bottom: 5rem;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-width: 280px;
  width: 100%;
  padding-top: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.bill, .tip-percentage, .n-people {
  width: 85%;
  margin-bottom: 3rem;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* flex-direction: column; */
  width: 90%;
}