.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  margin: 5rem 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-width: 280px;
  border-radius: 3rem;
  width: 100%;

  margin-bottom: 10rem;
}

.content {
  width: 92%;
  padding: 3rem 0;
}

.bill, .tip-percentage, .n-people {
  margin-bottom: 3rem;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#bill {
  background: var(--clr-light-cyan) url(/images/icon-dollar.svg) left no-repeat;
  background-position-x: 1.5rem;
}

#custom-tip {
  width: 47%;
  margin: 0;
  text-align: center;
}

#n-people {
  background: var(--clr-light-cyan) url(/images/icon-person.svg) left no-repeat;
  background-position-x: 1.5rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-very-dark-cyan);
  border-radius: 1.5rem;
  padding: 4.5rem 2rem 2.5rem 2rem;
}

.result h2 {
  margin-bottom: initial;
  color: #fff;
}

.values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.values .txt {
  line-height: 2rem;
}

.attribution {
  font-size: clamp(1rem, 1.2rem, 2vw);
  font-weight: 700;
  color: var(--clr-dark-grayish-cyan);
  text-align: center;
}

@media (min-width: 750px) {
  .calculator {
    width: initial;
  }

  .content {
    display: flex;
    padding: 5rem 0;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  .result {
    margin-left: 4rem;
    padding: 5rem 4rem 4rem;
    width: 50%;
  }

  .values {
    margin: 0;
  }

  .values.-amount {
    margin-bottom: 6rem;
  }

  #custom-tip {
    width: 30%;
  }
}

@media (min-width: 750px) and (max-width: 850px) {
  .calculator {
    width: 95%;
  }
}